.diseño{

    color: blue;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenido-seccion {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contenido-seccion h2 {
    text-align: center;
    color: #a3660a;
    margin-bottom: 20px;
}
.contenido-seccion p {
    text-align: justify;
    color: #f0dfdf;
    line-height: 1.6;
}
.contenido-seccion p span {
    font-weight: bold;
    color: #f4e5e5;
}
.contenido-seccion h5 {
    text-align: justify;
    color: #f4eded;
    margin-top: 20px;
    line-height: 1.6;
}

